.graphPage, .CourseRelationsPage {
  background: #231F20;
  height: 100%;
  padding: 20px;

}

.graphPage-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 15px;
    background: #d8d8d8;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow-x: scroll;
  }

.filter-container {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #d2d2d2;
  border-radius: 15px;
}

.filterItem {
  text-decoration-color: #0000;
  margin: 0.5vh;
}

#updateFiler {
  background-color: #000000;
}
#submitFilter {
  background-color: #000000;
}

#filterLabel {
  color: #000000;
}

.infoModal{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myOverlay {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.content {

  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #eaeaea;
  box-shadow: 0 4px 8px 1pt rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 300px;
  height: 675px;
}

.item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  flex-basis: calc(100% - 40px);
  margin: 0 20px;
  padding: 20px 0;
}

.title{
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid  #333;
}

.description{
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300;
}

.line{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.text{
  font-size: 12px;
  font-weight: 300;
  padding-left: 10px;
}

.label{
  font-style: italic;
  font-size: 12px;
}

.MenuButtons {
  margin-bottom: 10px;
}

.filterForm {

  margin-top: 10px;
}

.filterButtons {

  margin-top: 10px;
}

.filterButtons Button {

  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.btnApply {

  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;

}